body {
    color: antiquewhite;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
}

button {
    color: black;
    background-color: antiquewhite ;
}

input {
    background-color: antiquewhite;
    color: black;
}
