html {
    font-size: 16px;
}

body {
    color: antiquewhite;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 350%;
}

button {
    font-size: 350%;
    background-color: antiquewhite;
    color: black;
}

input {
    font-size: 350%;
    background-color: antiquewhite;
    color: black;
}
